.form{
    text-align: center;
}
select{
    width: 200px;
    text-align: center;
}
table{
    width:100%;
    border: 2px solid black;
    border-collapse: collapse;

}
th{
    border: 1px solid black; 
    background-color: deepskyblue;
    border-collapse: collapse;

}
td{
    border:1px solid black;
    border-collapse: collapse;
    text-align: center  ;

}
#add{
    color:white;
    background-color: green;
    cursor: pointer;
}
#add:hover{
    color:black;
    background-color: lightgreen;
    cursor:pointer;
}
#delete{
    color: white;
    background-color: red;
    cursor: pointer;
}
#delete:hover{
    color: black;
    background-color: lightcoral;
    cursor: pointer;
}
Button{
    border:0;
}
label{
    margin-right: 20px;
}